%footer{ data: { role: 'footer', theme: 'b' } }
  %p.align-left
    %small
      %copy 2009-2012 Ulices&Gusano, Inc.
      %br
      Patents Pending. All Rights Reserved.
      %a.float-right{ href: '#' } Full Site
