/ Description
%link{ rel: "shortcut icon", href: asset_path("favicon.ico") }
%meta{ name: "description", content: "Hand Store" }

/ Web Application
%meta{ name: "viewport", content: "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" }
%meta{ name: "apple-mobile-web-app-capable", content: "yes" }
%meta{ name: "apple-mobile-web-app-status-bar-style", content: "black" }

%meta{ name: "HandheldFriendly", content: "True" }
%meta{ name: "MobileOptimized", content: "320" }
%meta{ name: "format-detection", content: "telephone=yes" }
%meta{ :'http-equiv' => "cleartype", content: "on" }

/ iPhone
%link{ rel: "apple-touch-icon-precomposed", href: asset_path("apple-touch-icon/precomposed.png") }
%link{ rel: "apple-touch-icon", sizes: "57x57",   href: asset_path("apple-touch-icon/57x57.png") }
%link{ rel: "apple-touch-icon", sizes: "114x114", href: asset_path("apple-touch-icon/114x114.png") }

/ iPad
%link{ rel: "apple-touch-icon", sizes: "72x72",   href: asset_path("apple-touch-icon/72x72.png") }
%link{ rel: "apple-touch-icon", sizes: "144x144", href: asset_path("apple-touch-icon/144x144.png") }

/ iPhone
%link{ rel: "apple-touch-startup-image", href: asset_path("apple-touch-startup-image/320x460.png"), media: "(device-width: 320px) and (orientation: portrait)" }
%link{ rel: "apple-touch-startup-image", href: asset_path("apple-touch-startup-image/460x320.png"), media: "(device-width: 320px) and (orientation: landscape)" }
%link{ rel: "apple-touch-startup-image", href: asset_path("apple-touch-startup-image/640x920.png"), media: "(device-width: 920px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" }
/ %link{ rel: "apple-touch-startup-image", href: asset_path("apple-touch-startup-image/920x640.png"), media: "(device-width: 920px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" }

/ iPad
%link{ rel: "apple-touch-startup-image", href: asset_path("apple-touch-startup-image/768x1004.png"), media: "(device-width: 768px) and (orientation: portrait)" }
%link{ rel: "apple-touch-startup-image", href: asset_path("apple-touch-startup-image/1024x748.png"), media: "(device-width: 768px) and (orientation: landscape)" }
/ %link{ rel: "apple-touch-startup-image", href: asset_path("apple-touch-startup-image/1536x2008.png"), media: "(device-width: 1536px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" }
/ %link{ rel: "apple-touch-startup-image", href: asset_path("apple-touch-startup-image/2008x1536.png"), media: "(device-width: 1536px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" }

/ Nokia
%link{ rel: "shortcut icon", href: asset_path("apple-touch-icon/144x144.png") }
