table#products-summary{
  width: 100%;
  thead th{
    background-color: #A4A4A4;
  }
  tbody tr{
    background-color: #FAFAFA;
    &:last-child{
      background-color: #EFFBF5;
    }
  }
}

.float-center { margin: 0px auto !important; }
.float-right { float: right !important; }
.float-left { float: left !important; }
